.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
  background-image: url("../../assets/images/catalina.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
}
